.gameBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-radius: 5px;

    padding: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;

    .clockSection {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .clock {
            min-width: 3.3rem;
        }
    }

    .gameBarSection {

        display: flex;

        .gameBarSectionItem {
            margin: 0 0.5rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

.gameBoard {
    .gameBoardLoading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 400px;

        .gameBoardLoadingText {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}