.homepageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary);

    .homepageCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);

        .homepageCenterTitle {
            font-size: 4rem;
            font-weight: bold;
        }

        .homepageCenterSubtitle {
            font-size: 1.5rem;
            color: var(--color-tertiary);
        }

        .homepageCenterButtonContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .homepageCenterButton {
                cursor: pointer;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: var(--color-secondary);
                color: var(--color-tertiary);
                font-size: 1.2rem;
                font-weight: bold;
                transition: background-color 0.5s ease-in-out;
                transition: color 0.3s ease-in-out;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

                &:hover {
                    background-color: var(--color-tertiary);
                    color: var(--color-primary);
                }
            }
        }
    }
}